<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pubby - Question Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  	<form action="#" th:action="@{/question/form}" method="post" th:object="${question}" >
  	
  	
  	  	<label>What's your name:</label>
        <input type="text" th:field="*{pack}" /><br/>
        <input type="submit" value="Submit"/> 
  	
  	</form>
  	<script src="index.js"></script>
  </body>
</html>