<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>Id:</span><span th:text="${question.id}"></span><br/>
    <span>Pack:</span><span th:text="${question.pack}"></span><br/>
    <span>Description:</span><span th:text="${question.description}"></span><br/>
    
    <a th:href="@{/question/form}">Another Question</a>
</div>
</body>
</html>